# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment directory
venv/
*.env

# Input directory
input/

# Output directory
output/

# Upload directory
uploads/

# Logs
*.log

# IDE and editor settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings folder
.vscode/
